
body{
  width: 100%;
  background-image: url(hinh-nen-toi-gian-1.jpg);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
.box{
  text-align: center;
  background: #181818c3;
  width: 400px;
  height: auto;
  padding: 25px;
  position: absolute;
  left: 50%; top:50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 0px 20px 0px #000;
}
.box header{
  color: #fff;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 15px;
}
.box input[type="password"], .box input[type="text"]{
  background: none;
  outline: none;
  width: 210px;
  height: 40px;
  border-radius: 40px;
  padding: 0px 15px;
  margin: 15px 0px;
  border: solid 2px #002cff;
  transition: 1s;
}
.box input[type="password"]:focus, .box input[type="text"]:focus{
  width: 320px;
  border-color: chartreuse;
  transition: 1s;
}
.box input[type="submit"]{
  background: none;
  outline: none;
  width: 100px;
  height: 40px;
  border-radius: 40px;
  margin: 15px 0px;
  border: solid 2px #002cff;
  color: #fff;
  font-size: 14px;
  transition: 1s;
}
.box input[type="submit"]:hover{
  background: #002cff;
  transition: 1s;
}
